---
import Layout from '../layouts/Layout.astro';

export const prerender = false;
import { getSessionHandler } from '@/lib/getSessionHandler';
const { session, userData } = await getSessionHandler();
---

<Layout>
  <main>
    <h1>We are happy to see you here</h1>
    <p>{userData.username}</p>
  </main>
</Layout>
