---
import Layout from '../layouts/Layout.astro';
import type { UserData } from '@/types/userData';

import Navbar from '@/components/navbar/navbar';

export const prerender = false;
import { getUserData } from '@/lib/getUserData';
const data = await getUserData();

const userData = data?.userData || ({} as UserData);
---

<Layout>
  <h1>We are happy to see you here</h1>
  <p>{userData.username}</p>
</Layout>
