---
import Layout from '../layouts/Layout.astro';
import type { UserData } from '@/types/userData';

export const prerender = false;
import { getUserData } from '@/lib/getUserData';
const data = await getUserData();

const userData = data?.userData || ({} as UserData);
---

<Layout>
  <main>
    <h1>We are happy to see you here</h1>
    <p>{userData.username}</p>
  </main>
</Layout>
