---
export const prerender = false;
import LoginLayout from '../layouts/LoginLayout.astro';

import { LoginForm } from '@/components/auth/login-form';

const { cookies, redirect } = Astro;

const accessToken = cookies.get('sb-access-token');
const refreshToken = cookies.get('sb-refresh-token');

if (accessToken && refreshToken) {
  return redirect('/dashboard');
}
---

<LoginLayout title='Login'>
  <main class='w-full h-dvh grid place-items-center place-content-center'>
    <LoginForm />
  </main>
</LoginLayout>
