---
import Layout from '@/layouts/Layout.astro';
import { supabase } from '@/lib/supabase';

const { slug } = Astro.params;

const { data: project } = await supabase
  .from('projects')
  .select('*')
  .eq('slug', slug)
  .single();

if (!project) {
  console.log('No project');
}
---

<Layout>
  <main>
    <h1>{project.name}</h1>
    <p>{project.description}</p>
  </main>
</Layout>
