---
import '@/styles/global.css';
import Sidebar from '@/components/sidebar/sidebar';
import Navbar from '@/components/navbar/navbar';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class='w-full h-svh flex'>
    <Sidebar />
    <main class='w-full p-2'>
      <Navbar client:only />
      <slot />
    </main>
  </body>
</html>
